.about-section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about-text {
  flex: 1;
}

.about-text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.about-text p {
  line-height: 1.6;

}

@media (max-width: 700px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-container img {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  .about-container p {
    max-width: 90%;
  }
}