@import "../StyleVariables.css";

.about-section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  background: var(--bg-card);
  color: var(--text-main);
  border-radius: 8px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  border: 3px solid var(--border-color);
}

.about-text {
  flex: 1;
}

.about-text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--text-main);
}

.about-text p {
  line-height: 1.6;
  color: var(--text-muted);
}

/* MOBILE LAYOUT */
@media (max-width: 700px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .about-container p {
    max-width: 90%;
    margin: 0 auto;
  }
  .skills-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list li {
  background: var(--primary);
  color: var(--text-dark);
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9rem;
}
}