.navbar {
  width: 100%;
  height: 5%;
  padding: 20px 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  background: #61dafb;
  backdrop-filter: blur(10px);

  z-index: 100;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links button {
  padding: 8px 18px;
  font-size: 0.95rem;

  background: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.4s;
}

.btn button:hover {
  background: black;
  color: white;
  border-color: black;
}


@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px;
  }

  .nav-left, .nav-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-right button {
    font-size: 14px;
    padding: 8px 12px;
    white-space: nowrap;
  }
}